---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../componets/BlogPost.astro";
const allPost = await Astro.glob('../pages/posts/*.md')
---


<BaseLayout pageTitle="Blog">
  <p>This is where I will post about my journey learning Astro.</p>
  {allPost.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
</BaseLayout>